*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

img{
  object-fit: cover;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  color: black;
}

.home_presentation_container{
  padding: 2vh;
  text-align: center;
}

.home_presentation_container h2{
  font-size: large;
}

.home_presentation_container p{
  font-size: small;
}

.card_header{
  font-size: small;
}

.card_title{
  font-size: medium;
}

#loading{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}

#detailContainer{
  margin: 5vh 0;
  margin-bottom: 52vh;
}

#detailContainer h3{
  font-size: larger;
}

#detailSubtitle{
  font-size: smaller;
  opacity: 0.5;
}

#detailBody{
  font-size: medium;
  text-align: justify;
}

#footer{
  background-color: #28a745;
  padding: 1vh;
}

#footer h4{
  font-size: medium;
}

#footer ul{
  list-style:none;
  padding-left:0;
}

#footer ul li{
  font-size: smaller;
}

#searchPostContainer{
  display: flex;
  flex-direction: column;
  margin: 40px auto 55vh auto;
  justify-content: center;
  align-items: center;
}

#editPostContainer{
  height: auto;
  margin: 20px;
  padding: 2rem;
}

.error{
  color: red;
}

.text_input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.text_input *{
  margin: 1px 0;
}

.textarea_input{
  width: 60vw;
  height: 40vh;
}

input{
  width: 60vw;
}

#searchBox{
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#searchButton{
  width: 50px;
  height: 5vh;
  padding: 1px;
}

#navContainer *{
  margin: 7px 10px;
}

#notFound{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10vh;
  margin-bottom: 65vh;
}

#loginFormContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginForm{
  width: 75vw;
  height: 60vh;
  border: 1px solid black;
  background-color: rgb(164, 255, 210);
  padding: 20px;
}